<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">{{title}}</a>
</nav>

<div class="container">
  <ywk-kanban-table>
  </ywk-kanban-table>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="gitlabAuthModal" tabindex="-1" role="dialog" #modal>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Gitlab login required</h4>
      </div>
      <div class="modal-body">
        <a href="https://gitlab.com/users/sign_in" target="blank" class="btn btn-info">
          Go to Gitlab
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>