:host {
  overflow: hidden;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 0.8em;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 0 3px;
  word-break: break-word;
}

li:hover {
  overflow: visible;
  white-space: normal;
}

li a {
  color: inherit;
}